.itemlist{
    padding-top: 15rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container__itemlistcontainer {
    margin-top: 3rem;
    margin-bottom: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

@media screen and (max-width: 1024px) {
    #container__itemlistcontainer {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width:764px) {
    #container__itemlistcontainer {
        grid-template-columns: 1fr;
    }
}
