
#item-servicio__nombre-servicio {
    padding: 2rem 0.5rem;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--color-bg);
    font-size: 1.5rem;
    font-weight: 300;
}

.item-servicio {
    width: 30rem;
    background-color: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-bottom: 1rem;
    text-align: center;
}

.item-servicio:hover {
    transform: translateY(-1rem);
    background: transparent;
    border-color: var(--color-bg-primary);
    cursor: default;
}

.item-servicio-img {
    margin-top: 2rem;
    border-radius: 2rem;
    width: 23rem;
}

#item-servicio__precio {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--color-primary);
    font-weight: 500;
}
